* {margin:0; padding:0;}
body {
	font-family:helvetica, arial, sans-serif;
	background:#dcd9c0;
	}
#wrapper {
	min-width:760px; max-width:1100px; margin:0 auto; ;
	}
header {
	height:80px;
	margin: 10px 0 10px;
	background:#000;
	border-radius: 10px;
	box-shadow: 4px 4px 5px #555;
	padding:5px;
	display: table;
	width:99%;
	}
header h1 {
	font-family:'Droid Sans', sans-serif;
	font-weight:400;
	font-size:4em;
	letter-spacing:-.05em;
	color:#fff;
	padding:0 0 0px 10px;
	display: table-cell;
	}
nav.menu {
	margin: 19px auto;
	text-align: right;
	display: table-cell;
	}
nav.menu > ul {display: inline-block;}
nav.menu li {
	padding: 45px 20px 0px 0px;
	float: left;
	list-style-type:none;
	position:relative;
	}
nav a {
	font-family:'Open Sans Condensed', sans-serif;
	font-weight:700;
	font-size:.85em;
	color:#fff;
	}
.main {
	display:table;
	margin-bottom: 10px;
	box-shadow: 4px 4px 5px #555;
	border-radius: 10px;
}
blockquote{
	padding-bottom: 10px;
}
article {
	border-radius: 10px 0 0 10px;
	display:table-cell;
	background:#fff;
	padding:10px 20px;
	}
article h2 {
	font-family:'Droid Sans', sans-serif;
	font-weight:700;
	font-size:1.25em;
	letter-spacing:-.05em;
	color:#616161;
	text-decoration:overline;
	margin:10px 0 0 0;
	padding-bottom: 10px;
	}
article h3 {
	font-family:'Droid Sans', sans-serif;
	font-weight:700;
	font-size:1.5em;
	letter-spacing:-.05em;
	color:#000;
	padding-bottom: 10px;
	}
article p {
	font-family:'Open Sans Condensed', sans-serif;
	font-weight:300;
	font-size:1em;
	color:#000;
	padding-bottom: 10px;
	}
article ul{
		padding: 0 0 10px 14px;
	}
article img {
	padding-bottom: 10px;
}
aside {
	border-radius: 0 10px 10px 0;
	display:table-cell;
	width:30%;
	background:#F5DEB3;
	padding:10px;
	}
aside h3 {
	font-family:'Open Sans Condensed', sans-serif;
	font-weight:700;
	letter-spacing:-.075em;
	color:#000;
	padding-bottom: 10px
	}
aside p {
	font-family:'Open Sans Condensed', sans-serif;
	font-weight:700;
	font-size:.85em;
	line-height:1.2em;
	color:#000;
	}
footer {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	clear:both;
	background:#000;
	text-align:center;
	box-shadow: 4px 4px 5px #555;
	padding: 10px;
	}
footer p {
	font-family:'Open Sans', sans-serif;
	font-weight:700;
	font-size:.65em;
	color:#fff;
	}
footer a {
	font-family:'Open Sans', sans-serif;
	font-weight:700italic;
	font-size:1em;
	color:#ffed53;
	text-decoration:none;
	}

	@media screen and (max-width: 1050px){
	body{
		margin: 0 50px;
	}
	#wrapper{
		min-width: 100%;
		border: none;
	}
	header {
		height:80px;
		margin: 10px 0px 10px;
		background:#000;
		padding:10px;
		width:100%;
		display: block;
		}

		header h1{
			font-size: 1.5em;
			display:block;
			text-align: center;
			width:100%
			padding:0;
			margin: 0 2px;
		}
		nav.menu {
			display:block;
			text-align: center;
			padding: 0 0 0 10px;
			width:100%;
			font-size: .7em;
		}
		nav.menu li {
			padding: 0px 20px 0px 0px;
			float: left;
			list-style-type:none;
			}
	.main{
	width:100%;
		box-shadow: none;
		}
			article{
				border-radius: 10px;
				display: block;
				width:100%;
				margin:0 2px 10px;
				padding:10px;
				box-shadow: 4px 4px 5px #555;
			}
			aside {
				border-radius: 10px;
				display:block;
				width:100%;
				background:#F5DEB3;
				padding:10px;
				margin: 0 2px;
				box-shadow: 4px 4px 5px #555;
				}
				.electric img{
					width:95%;
					max-width: 400px;
							}
			footer{
				width:100%;
				padding: 10px;
				margin: 0 2px;}
